/* styles.css */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #333;
}

#hairServices button {
    background-color: #9a08d9;
}

#facialSkin button {
    background-color: blue;
}

#waxing button {
    background-color: red;
}

#hairServices,
#facialSkin,
#waxing,
#calculations {
    text-align: center;
    margin: 0 auto;
}

.product {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    white-space: pre-line;
}

#getTotal {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#clear {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#Price,
#GST,
#Total {
    font-weight: bold;
}

h4 {
    margin: 0;
    padding: 0;
}

.removeItem {
    background-color: black;
    color: white;
    border: none;
    padding: 4px 9px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;
}

.removeItem:hover {
    background-color: black;
}
